.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.spinner {
  width: 35px;
  height: 35px;
  border: 4px solid #ccc;
  border-top-color: #2e77ff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
