.nav-cart {
  position: relative;
  cursor: pointer;
  color: white;
}

.cart-icon {
  font-size: 22px;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}
