.home {
  width: 100%;
}

/* HERO SECTION */
.hero {
  position: relative;
  background: url("/images/banner.jpg") center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  padding-left: 6%;
  overflow: hidden;
}

/* Overlay (hidden by default) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Text initially invisible */
.hero-text {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
}

.hero-text h1 {
  font-size: 60px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.hero-text p {
  font-size: 20px;
  margin: 10px 0;
}

.shop-btn {
  padding: 12px 26px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* Hover effects */
.hero:hover .overlay {
  opacity: 1;
}

.hero:hover .hero-text {
  opacity: 1;
}


/* CATEGORIES */
.categories {
  padding: 45px;
  text-align: center;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-top: 25px;
}
.category-grid div {
  position: relative;
}
.category-grid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
}

.category-grid img:hover {
  transform: scale(1.03);
}
.category-grid span {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: white;
  font-size: 22px;
  font-weight: 600;
}

/* POPULAR PRODUCTS */
.popular {
  padding: 40px;
  text-align: center;
}
.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-top: 25px;
}
.popular-grid img {
   width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
}

/* OFFER BANNER */
.offer-banner {
  margin: 60px 0;
}
.offer-banner img {
  width: 100%;
  border-radius: 8px;
}
